In [289]:
import pandas as pd

In [295]:
def text2pandas(text):
    
    dataList = []
    article = [data[0]]
    
    for line in text[1:]:
        if not line.isspace():
            line = line.strip('\n')
            if line.startswith(" = ", 0):
                title = article[0].split(' = ')
                article[0] = title[1]
                article[1:] = [''.join(article[1:])] 
                dataList.append(article)
                article = []    
            
            elif line.startswith(" == ", 0):
                continue
                
            article.append(line)
         
    dataFrame = pd.DataFrame(dataList, columns = ['Title', 'Corpus']) 
    
    return dataFrame

In [296]:
# Import .txt files and convert to pandas DataFrames

with open("./biographies/bio.fake.txt") as f:  
    data_fakes = f.readlines() 
    data_fakesPD = text2pandas(data_fakes)
    
with open("./biographies/bio.test.txt") as f: 
    data_test = f.readlines() 
    data_testPD = text2pandas(data_test)
    
with open("./biographies/bio.train.txt") as f: 
    data_train = f.readlines() 
    data_trainPD = text2pandas(data_train)
    
with open("./biographies/bio.valid.txt") as f: 
    data_valid = f.readlines() 
    data_validPD = text2pandas(data_valid)

In [304]:
data_fakesPD

,Title,Corpus
0,Juan Carreño Villa C3 B1dez de Velez,Juan Carreño Villa-Büdez de Velez ( born Novem...
1,Jean-Antoine Reclus,"Jean-Antoine Reclus ( 12 April 1829, Regensbou..."
2,James Stewart (musician),"James Stewart, Member of Parliament ( MP ) ( 8..."
3,Joseph Busch,"Joseph Busch ( July 7, 1787 – February 6, 1857..."
4,Thomas Cooper (medicine),Thomas Cooper ( 22 July 1796 – 19 March 1862 )...
...,...,...
873,Thomas A. Coolidge,"Thomas A. Coolidge ( February 24, 1913, Buffal..."
874,Bruno Nozzol,Bruno Nozzol ( 15 October 1891 – 10 December 1...
875,Donald Loring Wallich,"Donald Loring Wallich ( May 6, 1902 – Septembe..."
876,Arnold Pfaff,Sir Archibald Kenyon ( 8 September 1858 – 14 J...
877,Jean B C3 A9d C3 A9lon,Jean Bédèlon ( 21 October 1921 – 16 March 2003...